@import url(../css/base.css);
.container{
    width: 100%;
    padding:0px;
}
.row{
    margin:0px;
}
.header{
    width: 100%;
    height: 90px;
}
.header img{
    width: 149px;
    height: 63px;
    margin:15px 0 0 356px;
}
.right_head{
    width: 640px;
    height: 90px;
    float:right;
    margin-right: 350px;
}
.right_head>ul{
    width: 640px;
    height: 65px;
    display:flex;
    margin-top: 15px;
}
.right_head li{
    width: 106px;
    height: 65px;
    text-align: center;
    font-size: 14px;
    line-height: 65px;
}
.right_head li:hover{
    background: #1E82E8;
    color:#fff;
}
.right_head a{
    color:#494949;
    text-decoration: none;
}
.bannar{
    width: 100%;
    height: 740px;
    background-image: url(../img/bannar.jpg);
    background-size: 100% 740px;
    overflow: hidden;
}
.zi{
    width: 660px;
    height: 162px;
    left:690px;
    bottom:284px;
    margin:294px auto 0px;
    font-family: "微软雅黑";
    font-weight:bolder; 
    font-size: 50px;
    color:#ffffff;
    text-align: center;
}
.factory{
    width: 100%;
    height: 722px;
    background: #fff;
}
.fa_top{
    width: 100%;
    height: 286px;
    overflow: hidden;
}
.fa_top_a{
    width: 100%;
    height: 146px;
}
.fa_top_co{
    width: 1190px;
    height: 146px;
    margin:60px auto 0px;
    padding:20px 0px 20px;
}
.sm_fa{
    font-family: "微软雅黑";
    font-weight:bolder; 
    font-size: 34px;
    text-align: center;
    line-height:56px;
    color:#31353D;
}
.sm_fa_su{
    font-family: "微软雅黑";
    color:#a0a0a0;
    font-size: 14px;
    text-align: center;
    line-height:38px;
}
.line_blue{
    width: 60px;
    height: 3px;
    background:#1e82e8;
    margin:11px auto 0px;
}
.fa_bottom{
    width: 100%;
    height: 436px;
    overflow: hidden;
}
.Box{
    width: 1190px;
    height: 296px;
    margin:0 auto;
    display:flex;
}
.box{
    width: 290px;
    height: 296px;
    background:#1e82e8;
    color:#fff;
    margin-right: 10px;
}
.box:hover{
    box-shadow: 0px 0px 2px 4px rgba(30, 130, 232, 0.2);
}
.box:hover img{
    transform: translateY(-18px);
    transition: all 0.2s 0s linear;
}
.box:hover div{
    transform: translateY(-18px);
    transition: all 0.2s 0s linear;
}
.box img{
    margin:43px 100px  0px;
}
.box h2{
    text-align: center;
}
.box>div{
    text-align: center;
    font-family: "微软雅黑";
    font-size: 15px;
}
.he_title{
    width: 28px;
    height: 56px;
    font-family: trebuchet ms;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    padding: 0 0 0px 0;
    display: inline-block;
    padding: 0 0 0px 0;
    vertical-align: bottom
}
.he_su{
    width: 29px;
    height: 34px;    
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    display: inline-block;
    padding: 0 0 6px 0px;
    vertical-align: bottom;
}
.Solution{
    width: 100%;
    height: 648px;
    background:#eff3f7;
}
.fa_top_s{
    width: 100%;
    height: 115px;
    padding:95px 0 39px 0;
}
.fa_bottom_2{
    width: 1190px;
    height: 362px;
    margin:0 auto;
    display:flex;
}
.qfe{
    width: 396px;
    height: 240px;
    margin-right: 10px;
}
.js{
    color:#999999;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 34px;
}
.name{
    margin-top: 14px;
    font-family: "微软雅黑";
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color:#696969;
}
.about{
    width: 100%;
    height: 951px;
    background:#eff3f7;
    overflow: hidden;
}
.tu{
    width: 1190px;
    height: 450px;
    margin:0 auto;
    background:url(../img/dh.jpg) no-repeat center;
    background-size: 1190px 450px;
    overflow: hidden;
}
.tu_float{
    width: 595px;
    height: 400px;
    background:rgba(30, 130, 232, 0.9);
    margin-top: 28px;
    overflow: hidden;
}
.speed_iot{
    position: relative;
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 86px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 49px;
    border-radius: 0px;
    font-size: 36px;
    font-family:"微软雅黑";
    color:#FFFFFF;
    line-height: 56px;
}
.Industry{
    cursor: pointer; 
    outline: none;
    -webkit-tap-highlight-color: transparent;
    padding-left:49px;
    margin-top: 11px;
    margin-bottom:32px; 
    line-height: 14px; 
    font-size: 15px; 
    font-weight: 700;
    color:#FFFFFF;
}
.intr{
    color:#FFFFFF;
    font-size: 12px;
    font-family: "微软雅黑";
    padding-left: 49px;
    padding-right: 53px;
    line-height: 31px;
}
.number{
    width: 1100px;
    height: 255px;
    margin:0 auto;
    display:flex;
}
.nu{
    width: 276px;
    height: 105px;
    margin-top: 70px;
    animation: up 1s 3s 1 forwards;
}
.jq{
    font-size: 42px;
    color:#494949;
    text-align: center;
}
.jq span{
    font-family: "微软雅黑";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #7c7c7c;
    display: inline-block;
    padding: 0 0 12px 0px;
    vertical-align: bottom;
}
.sm{
    text-align: center;
    font-size:16px;
    font-family:"微软雅黑";
    color:#0072e5;
}
.sm_fa_blue{
    font-family: "微软雅黑";
    font-weight:bolder; 
    font-size: 36px;
    color:#1E82E8;
    text-align: center;
    line-height:56px;
}
.New{
    width: 100%;
    height: 701px;
    background:#fff;
}
.fa_top_1{
    width: 100%;
    height: 120px;
    padding:58px 0 23px 0;
}
.new_bottom{
    width: 100%;
    height: 415px;
}
.new_box{
    width: 1190px;
    height: 392px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.new_box_left{
    width: 603px;
    height: 342px;
    background:#f8f8f8;
    padding:20px;
    overflow: hidden;
    position: relative; 
}
.new_box_left_hidden{
    width: 642px;
    height: 382px;
    background: #1E82E8;
    position: absolute;
    bottom:-382px;
    left:0px;
    z-index: 0;
}
.new_box_left:hover .new_box_left_hidden{
    transform: translateY(-382px);
    transition: all 0.3s ease-out 0s
}
.budlidding_png{
    width: 602px;
    height: 277px;
}
.budlidding_png>img{
    width: 602px;
    height: 277px;
    z-index: 999;
}
.new_box_left:hover .new_box_left>img{
    transform: skew(0.3);
}
.item_info{
    width: 603px;
    height: 43px;
    padding-top: 24px;
    display:flex;
}
.date{
    width: 75px;
    height: 48px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.year{
    color:#c4c4c4;
    font-size:18px;
    font-family:trebuchet ms;
}
.postdate{
    color:#c4c4c4;
    font-size:14px;
    font-family:arial;
}
.text_wrap{
    width: 527px;
    height: 43px;
}
.title_e{
    color:#666666;
    font-size:14px;
    font-family:"微软雅黑";
    font-weight:normal;
    padding-bottom:8px;
}
.description_e{
    color:#999999;
    font-size:12px;
    max-width:px;
    word-break:break-all;
    font-family:"微软雅黑";
}
.new_box_right{
    width: 536px;
    height: 377px;
    float:right;
    margin-left: 12px;
}
.new_box_right_s{
    width: 495.5px;
    height: 43px;
    padding:20px;
    background:#f8f8f8;
    display:flex;
    margin-bottom: 15px;
}
.item_a_link{
    width: 420px;
    height: 27px;
    color:#666666;
    font-size:14px;
    font-family:"微软雅黑";
    font-weight:normal;
    padding-bottom:8px;
}
.description_e{
    width: 420px;
    height: 16px;
    color:#999999;
    font-size:12px;
    max-width:px;
    word-break:break-all;
    font-family:"微软雅黑";
}
.evaluate{
    width: 100%;
    height: 540px;
    margin:0px
}
.section-background{
    width: 100%;
    height: 540px;
    background:rgba(0,0,0,0.4);
}
.column_containter{
    width: 808px;
    height: 540px;
    margin:0 auto;
    position:relative;
}
.vc{
    width: 100%;
    height: 108px;
    position: relative;
    background-repeat: no-repeat;
    margin:0 auto;
    padding: 120px 0 36px 0;
}
.ht{
    font-family:"微软雅黑";
    font-size:36px;
    font-weight:normal;
    font-style:normal;
    color:#ffffff;
    display:block;
    text-align: center;
}
.header_subtitle{
    font-family:"微软雅黑";
    font-size:15px;
    font-weight:normal;
    font-style:normal;
    color:#ffffff;
    display:block;
    padding:10px 0 0 0;
    text-align: center;
}
.line-abs{
    overflow:hidden;
    border-bottom-style:solid;
    width:60px;max-width:60px;
    border-bottom-width:3px;
    border-bottom-color:#1e82e8;
    margin:20px auto 0px;
}
.background-ov_bottom{
    height: 176px;
}
.ba{
   width: 808px;
   height: 55px;
   margin-top: 54px; 
}
.ba img{
    width: 118px;
    height: 55px;
    display:block;
    margin:0 auto;
}
.background-ov_bottom p{
    text-align: center;
    font-size:14px;
    color:#FFFFFF;
    font-family: "微软雅黑";
    line-height: 32px;
    margin-top: 18px;
}
.se_kuai_a{
    width: 100%;
    height: 12px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.se_kuai_1{
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin-right: 8px;
}
.se_kuai_2{
    width: 8px;
    height: 8px;
    background-color: #1E82E8;
}
.question{
    height: 624px;
    background: #ffff;
}
.ht_b{
    font-family:"微软雅黑";
    font-size:36px;
    font-weight:bolder;
    font-style:normal;
    display:block;
    text-align: center;
    color:#31353D;
    margin:100px auto 0;
}
.header_subtitle_b{
    display:block;
    padding:10px 0 0 0;
    text-align: center;
    color:#B6B6B6;
    font-family:"微软雅黑";
    font-size:15px;
    font-weight:normal;
    font-style:normal;
}
.qu_bottom{
    width: 1190px;
    height: 338px;
    margin:63px auto 0;
}
.qu_bottom ul{
    width: 1190px;
    height: 338px;
    display:flex;
    flex-wrap: wrap;
}
.case{
    width: 554px;
    height: 109px;
    padding:20px;
    margin-bottom: 20px;
}
.bit_link{
    color: #22252b;
    font-size: 18px;
    font-family: "微软雅黑";
    line-height: 24px;
}
.case a{
    text-decoration: none;
}
.bo_bit_link{
    width: 553px;
    height: 54px;
    color:#999999;
    font-size:13px;
    font-family:"微软雅黑";
    line-height:22px;
    padding-top:10px;
}
.yd{
    width: 553px;
    height: 23px;
}
.yd a{
    color: #1e82e8;
    font-size: 13px;
    font-family:"微软雅黑";
}
.partener{
    width: 100%;
    height: 540px;
}
.partener_top{
    width: 100%;
    height: 120px;
    padding:104px 0 60px 0;
}
.partener_bottom{
    width: 100%;
    height: 100%;
}
.partener_bottom img{
    width: 1179px;
    height: 156px;
    margin-left: 354px;
}
.footer{
    width: 100%;
    height: 669px;
    background:#F7F7F7;
    padding:20px 0 20px 0;
}
.wf-wrap{
    width: 1270px;
    height: 628px;
    padding:0 40px;
    margin:0 auto;
}
.wf-container{
    width: 100%;
    height: 628px;
    margin:0 auto;
}
.widgetsimplepage{
    width: 100%;
    height: 608px;
    margin-bottom:20px;
}
.qfe_wrapper{
    width: 100%;
    height: 98px;
    margin-top: 12px
}
.qfe_wrapper>img{
    display: block;
    width: 231px;
    height: 98px;
    margin: 0 auto;
}
.lksj{
    width: 100%;
    height: 33px;
    text-align: center;
    margin-top:20px;
}
.lksj>span{
    font-size:14px;
    color: #666666;
}
.mn{
    text-align: center;
    font-size:13px;
    color:#A9A9A9;
    margin-top: 24px;
}
.sb{
    width: 1180px;
    height: 37px;
    margin: 12px auto;
}
.contina{
    width: 266px;
    height: 37px;
    border-left: 3px solid #2489E2;
    border-right: 3px solid #2489E2;
    margin:0 auto;
    text-align: center;
    font-size: 34px;
    color: #2489E2;
    line-height: 37px;
}
.sbop{
    width: 1180px;
    height: 146px;
    margin: 30px auto 0px;
}
.cen{
    width: 240px;
    height: 121px;
    margin:0 auto;
    display:flex;
}
.kuai{
    width: 120px;
    height: 111px;
}
.kuai>img{
    display: block;
    width: 85px;
    height: 85px;
    margin:0 auto;
}
.kuai>div{
    margin-top: 12px;
    text-align: center;
    font-size:13px;
    color:#A9A9A9;
}
.foot_bottom_word{
    height: 210px;
    margin:0 auto;
    padding: 50px 160px 0px 160px;
    
}
.foot_bottom_word_b{
    width: 800px;
    height: 160px;
    display: flex;
    margin:0 auto;
}
.foot_bottom_word_box{
    width: 200px;
    height: 160px;
}
.foot_bottom_word_box_m_b{
    width: 190px;
    height: 40px;
    display:inline-block;
    line-height:40px;
    color:#000000;
    text-align: center;
    font-family:"微软雅黑";
    font-size:20px;
}
.foot_bottom_word_box_m{
    width: 190px;
    height: 40px;
    text-align: center;
    display:inline-block;
    line-height:40px;
    color:#808080;
    font-size:14px;
    font-family:"微软雅黑";
}
.bottom-bit-bar{
    width: 100%;
    height: 41px;
    padding-top: 10px;
    background: #D6D6D6;
}
.qc{
    width: 100%;
    height: 16px;
    text-align: center;
    display:inline-block;
    line-height:16px;
    color:#808080;
    font-size:14px;
    font-family:"微软雅黑";
}
.right_nav_bar{
    width: 54px;
    height: 216px;
    position:fixed;
    right: 0;
    top: 480px;
    z-index: 999;
    background: #839BA8;
    margin-top:-90px;
}
.right_nav_bar li{
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
}
.right_nav_bar li:first-child{
    position: relative;
}
.right_nav_bar i{
    font-size: 30px;
    color:#fff;
}
.right_nav_bar a{
    text-decoration: none;
}
.haiden_blue_phone{
    width: 144px;
    height: 54px;
    background: #142038;
    font-size: 20px;
    color:#fff;
    position: absolute;
    right: -144px;
    top:0px;
    overflow: hidden;
}
.right_nav_bar li:first-child:hover{
    background: #142038;
    transition: all 0.25s 0s linear;
}
.right_nav_bar li:hover .haiden_blue_phone{
    transition: all 0.3s 0.2s linear;
    transform: translateX(-144px)
}
.right_nav_bar li:hover{
    background: #142038;
    transition: all 0.25s 0s linear;
}
