@import url(../css/base.css);
.container{
    width: 100%;
    padding:0px;
}
.row{
    margin:0px;
}
.header{
    width: 100%;
    height: 90px;
}
.header img{
    width: 149px;
    height: 63px;
    margin-top:15px;
}
.right_head{
    width: 640px;
    height: 90px;
    float:right;
}
.right_head>ul{
    width: 640px;
    height: 65px;
    display:flex;
    margin-top: 15px;
}
.right_head li{
    width: 106px;
    height: 65px;
    text-align: center;
    font-size: 14px;
    line-height: 65px;
}
.right_head li:hover{
    background: #1E82E8;
    color:#fff;
}
.right_head a{
    color:#494949;
    text-decoration: none;
}
.partener_top{
    width: 100%;
    height: 120px;
    padding:104px 0 60px 0;
}
.partener{
    width: 100%;
    height: 856px;
    background-color: #F0F0F0;
}
.partener_top{
    width: 100%;
    height: 280px;
    padding:104px 0 60px 0;
}
.partener_bottom{
    margin: 0 auto;
    width: 100%;
}
.partener_bottom img{
    width: 1179px;
    height: 156px;
    margin-left: 373px;
}
.partener_imgbox{
    width: 1220px;
    height: 198px;
    margin:88px auto;
}
.partener_imgbox img{
    margin-right: 6px;
}
.partener_imgbox img:last-child{
    margin-right: 0px;
}
.sm_fa_blue{
    font-family: "微软雅黑";
    font-weight:bolder; 
    font-size: 36px;
    color:#1E82E8;
    text-align: center;
    line-height:56px;
}
.sm_fa_su{
    font-family: "微软雅黑";
    color:#a0a0a0;
    font-size: 14px;
    text-align: center;
    line-height:38px;
}
.line_blue{
    width: 60px;
    height: 3px;
    background:#1e82e8;
    margin:11px auto 0px;
}
.cotaining{
    width: 1280px;
    height: 325px;
    margin:100px auto 0;
}
.cotaining_in{
    width: 1280px;
    height: 340px;
    padding:0 40px;
    display:flex;
}
.cotaining_in img{
    width: 376px;
    height: 266px;
}
.right_word{
    width: 803px;
    height: 324px;
    padding-left: 32px;
}
.right_word_title{
    font-family:"微软雅黑";
    font-size:22px;
    font-weight:normal;
    font-style:normal;
    color:#333333;
    display:block;
}
.right_word_subtitle{
    font-family:century gothic;
    font-size:14px;
    font-weight:normal;
    font-style:normal;
    color:#b5b5b5;
    display:block;
    padding:2px;
}
.right_word_fs{
    width: 783px;
    height: 210px;
    padding:30px 0 30px 0;
}
.right_word_fs>li{
    width: 100%;
    height: 33px;
    color:#696969;
    font-size: 13px;
    line-height: 33px;
    letter-spacing: 1px;
}
.icons{
    width: 100%;
    height: 29px;
    display:flex;
}
.icons>li{
    width: 44px;
    height: 29px;
}
.icons i{
    font-size: 24px;
    line-height: 29px;
}
.footer{
    width: 100%;
    height: 669px;
    background:#F7F7F7;
    padding:20px 0 20px 0;
}
.wf-wrap{
    width: 1270px;
    height: 628px;
    padding:0 40px;
    margin:0 auto;
}
.wf-container{
    width: 1190px;
    height: 628px;
}
.widgetsimplepage{
    width: 1190px;
    height: 608px;
    margin-bottom:20px;
}
.qfe_wrapper{
    width: 1180px;
    height: 98px;
    margin-top: 12px
}
.qfe_wrapper>img{
    display: block;
    width: 231px;
    height: 98px;
    margin: 0 auto;
}
.lksj{
    width: 1180px;
    height: 33px;
    text-align: center;
    margin-top:20px;
}
.lksj>span{
    font-size:14px;
    color: #666666;
}
.mn{
    text-align: center;
    font-size:13px;
    color:#A9A9A9;
    margin-top: 24px;
}
.sb{
    width: 1180px;
    height: 37px;
    margin-top: 12px;
}
.contina{
    width: 266px;
    height: 37px;
    border-left: 3px solid #2489E2;
    border-right: 3px solid #2489E2;
    margin:0 auto;
    text-align: center;
    font-size: 34px;
    color: #2489E2;
    line-height: 37px;
}
.sbop{
    width: 1180px;
    height: 146px;
    margin: 30px auto 0px;
}
.cen{
    width: 240px;
    height: 121px;
    margin:0 auto;
    display:flex;
}
.kuai{
    width: 120px;
    height: 111px;
}
.kuai>img{
    display: block;
    width: 85px;
    height: 85px;
    margin:0 auto;
}
.kuai>div{
    margin-top: 12px;
    text-align: center;
    font-size:13px;
    color:#A9A9A9;
}
.foot_bottom_word{
    width: 1160px;
    height: 210px;
    margin:0 auto;
    padding: 50px 160px 0px 160px;
    
}
.foot_bottom_word_b{
    width: 800px;
    height: 160px;
    display: flex;
}
.foot_bottom_word_box{
    width: 200px;
    height: 160px;
}
.foot_bottom_word_box_m_b{
    width: 190px;
    height: 40px;
    display:inline-block;
    line-height:40px;
    color:#000000;
    text-align: center;
    font-family:"微软雅黑";
    font-size:20px;
}
.foot_bottom_word_box_m{
    width: 190px;
    height: 40px;
    text-align: center;
    display:inline-block;
    line-height:40px;
    color:#808080;
    font-size:14px;
    font-family:"微软雅黑";
}
.bottom-bit-bar{
    width: 100%;
    height: 41px;
    padding-top: 10px;
    background: #D6D6D6;
}
.qc{
    width: 100%;
    height: 16px;
    text-align: center;
    display:inline-block;
    line-height:16px;
    color:#808080;
    font-size:14px;
    font-family:"微软雅黑";
}
.right_nav_bar{
    width: 54px;
    height: 216px;
    position:fixed;
    right: 0;
    top: 480px;
    z-index: 999;
    background: #839BA8;
    margin-top:-90px;
}
.right_nav_bar li{
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
}
.right_nav_bar li:first-child{
    position: relative;
}
.right_nav_bar i{
    font-size: 30px;
    color:#fff;
}
.right_nav_bar a{
    text-decoration: none;
}
.haiden_blue_phone{
    width: 144px;
    height: 54px;
    background: #142038;
    font-size: 20px;
    color:#fff;
    position: absolute;
    right: -144px;
    top:0px;
    overflow: hidden;
}
.right_nav_bar li:first-child:hover{
    background: #142038;
    transition: all 0.25s 0s linear;
}
.right_nav_bar li:hover .haiden_blue_phone{
    transition: all 0.3s 0.2s linear;
    transform: translateX(-144px)
}
.right_nav_bar li:hover{
    background: #142038;
    transition: all 0.25s 0s linear;
}
